.wpvs-settings-area {
	background: #ffffff;
	padding: 40px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
	margin: 15px 15px 0 0;
}


.wpvs-settings-title {
	font-size: 30px;
	margin-top: 0;
}

.wpvs-plugin-name-area,
.wpvs-plugin-version-area {
	display: flex;
	align-items: center;
}

.wpvs-plugin-name-area {
    margin-bottom: 35px;
}

.wpvs-plugin-name,
.wpvs-plugin-version {
	margin-right: 25px;
}

.wpvs-settings .notice-info {
    display: block;
    overflow: hidden;
    padding: 20px;
    /* border-color: transparent; */
    /* width: 100%; */
    border-left-color: #00a0d2;
    /* border-bottom: 0px; */
    /* box-shadow: none; */
    margin: 0;
}

