.irvs-settings-area {
    background: #ffffff;
    padding: 40px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    margin: 15px 15px 0 0;
}


.irvs-settings-title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 25px;
}

.irvs-settings-area p.main-desc {
    font-size: 16px;
    margin-bottom: 20px;
}

.irvs-settings {
    margin-top: 35px;
    display: block;
}

.irvs-plugin-name-area,
.irvs-plugin-version-area {
    display: flex;
    align-items: start;
}

.irvs-plugin-name-area {
    margin-bottom: 35px;
}

.irvs-plugin-name,
.irvs-plugin-version {
    margin-right: 25px;
    min-width: 120px;
}

.irvs-plugin-name h2,
.irvs-plugin-version h2 {
    margin-top: 0;
}

.irvs-plugin-version-select {
    position: relative;
}

.irvs-plugin-name-select select,
.irvs-plugin-version-select select {
    width: 250px;
}

.irvs-settings .irvs-plugin-version-select i.dashicons-before.dashicons-update-alt {
    color: #f56e28;
    display: inline-block;
    animation: rotation 2s infinite linear;
    position: absolute;
    top: 4px;
    right: -23px;
}

.irvs-plugin-version-select .notice {
    margin: 0;
    box-sizing: border-box;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
    font-size: 16px;
    padding: 17px;
    display: none;
}